[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "basemaps"]
	path = basemaps
	url = https://github.com/16eagle/basemaps
[submodule "moveVis"]
	path = moveVis
	url = https://github.com/16eagle/movevis
